name: tf-deploy-dev
env:
  environment: dev
  terraform_version: 1.6.6

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  tf-deploy-dev:
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "typescript/package-lock.json"

      - name: Build frontend dist
        working-directory: ./typescript
        run: |
          npm ci
          npm run build

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{vars.AWS_ROLE_ARN}}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: us-east-1

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan (Save Output)
        run: terraform plan -var-file="env/${{ env.environment }}/variables.tfvars" -out=tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v6
        with:
          name: tfplan
          path: ./terraform/tfplan

      - name: list directories
        run: ls -R .

      - name: Terraform Apply
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: terraform apply -auto-approve tfplan
